.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.carousel-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-inner {
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-item {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 右侧导航按钮样式 */
.carousel-nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}
.nav-button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: rgba(241, 22, 7, 0);
    color: #333;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.nav-button:active {
    background-color: rgba(241, 22, 7, 0.8);
}
.nav-button:hover {
    background-color: rgba(241, 22, 7, 0.5);
}
/* 右侧指示器容器 */
.indicators-container {
    position: absolute;
    right: 20px;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/* 圆点指示器 */
.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #888686;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.indicator.active {
    background-color: #fff;
    transform: scale(1,3);
}
.indicator:hover {
    background-color: #fff;
    transform: scale(1.3);
}