.main-container {
    width: 1200px;
    margin: 80px auto 50px auto;
}
.travel_list {
    width: 100%;
    height: 100%;
}
.travel_list .list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 936px;
    margin: 0 auto;
}
.travel_list .list_item .item {
    width: 427px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 24px 15px 0;
    border-bottom: 1px dashed rgba(0,0,0,0.3);
    padding: 0 15px 10px 2px;
}
.travel_list .list_item .item .item_img {
    width: 150px;
    height: 113px;
    overflow: hidden;
}
.init_image {
    width: 100%;
    height: 100%;
    transition: all .4s ease 0s;
    object-fit: cover;
}
.item_img:hover .init_image {
    transform: scale(1.08);
}
.travel_list .list_item .item .item_content {
    flex: 1;
    text-align: left;
    padding-left: 22px;
    overflow: hidden;
}
.travel_list .list_item .item .item_content .title {
    font-family: Arial Black, Arial Normal, Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    height: 38px;
    color: #333;
    margin: 0 0 8px 0;
}
.travel_list .list_item .item .item_content .remark {
    font-family: Arial Normal, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    height: 60px;
    margin: 0 0 8px 0;
}
.ellipsis-2, .ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ellipsis-2 {
    -webkit-line-clamp: 2;
}
.ellipsis-3 {
    -webkit-line-clamp: 3;
}
.detail {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #FE9400;
    padding-top: 4px;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}
.detail:hover {
    color: #85C65E;
}
.page_box {
    padding: 33px 0 34px 0;
    text-align: center;
}
.pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;
}
.pagination .total {
    margin-right: 10px;
    font-weight: 400;
    color: #606266;
    line-height: 32px;
}
.btn_pre {
    margin: 0 5px;
    color: #606266;
    min-width: 38px;
    border-radius: 2px;
    padding: 0 12px;
    border: none;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    box-sizing: border-box;
    background: #f4f4f5;
}
.pagination button:disabled {
    color: #c0c4cc;
    background-color: #f4f4f5;
    cursor: not-allowed;
}
.page_list {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.page_list li {
    padding: 0 4px;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    border-radius: 5px;
    line-height: 28px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    margin: 0 5px;
    display: inline-block;
    background-color: #f4f4f5;
    color: #85c65f;
}
.page_list li.active {
    background-color: #85c65f;
    color: white;
}
.page_list li:hover:not(.active) {
    border: 1px solid #85c65f;
}