footer{
    height: 185px;
    width: auto;
    background-color: #7ea489;
}
footer .footer-container{
    width: 1200px;
    color: aliceblue;
    height: 185px;
    margin: 0 auto;
    padding: 0 35px;
}
footer .footer_container img{
    float: left;
}
footer .foot_container .foot_list{
    float: right;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 160px;
}

footer .foot_container .foot_list .list_info{
    float: left;
    flex: 1;
    padding-left: 44px;
    overflow: hidden;
}
footer .foot_container .foot_list .list_info p{
    height: 30px;
    line-height: 30px;
    text-align: left;
}
footer .foot_container .foot_list .foot_wx{
    float: right;
    width: 160px;
    height: 123px;
}
footer .foot_container .foot_list .foot_wx .wx_font{
    float: left;
    width: 37px;
}
footer .foot_container .foot_list .foot_wx .wx_font p{
    display: block;
    width: 37px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 6px 0;
}
footer .foot_container .foot_list .foot_wx img{
    float: right;
    width: 123px;
    height: 123px;
}