/*顶部导航栏*/
.top-bar {
    background-color: #e5ede5;
    padding: 10px 0;
    top: 0;
    height: 70px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #268f67;
    width: 100%;
    position: fixed;
}
.cotainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 60px;
}
.nav-links a {
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #d66214;
}
.nav-links .search {
    font-size: 20px;
    cursor: pointer;
    padding: 2px ;
    color: #10c5bc;
    font-weight: 700;
}
/*首页内容一*/
.floor{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.content-one{
    width: 100%;
    padding: 20px 0;
    display: flex;
}
.video-container{
    width: 586px;
    height: 367px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.video-item{
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
}
.video-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-indicator{
    position: absolute;
    right: 10px;
    top: 50%;
}
.video-indicators ul{
    display: block;
}
.video-indicators-item{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: list-item;
    text-align: center;
    unicode-bidi: isolate;
    background-color: #fff;
    z-index: 2;
}
.video-container ul li+li{
    margin-top: 10px;
}
.floor .content-one .content-list{
    flex: 1;
    padding-left: 15px;
    overflow: hidden;
    /*backgound-color: lightblue;*/
}
.floor .content-one .content-list .content-item{
    margin-bottom: 32px;
}
.floor .content-one .content-list .content-item .title{
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-family: "微软雅黑";
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: rgb(133, 198, 95);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.floor .content-one .content-list .content-item .title .title-left{
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
.title .title-left img{
    border: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.ch-name{
    max-width: 50%;
    overflow: hidden;
    padding-left: 4px;
}
.en-name{
    max-width: 50%;
    overflow: hidden;
    padding-left: 6px;
    color: #666;
}
.list-container .list-item{
    height: 45px;
    padding: 0 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    flex-direction: row;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgba(0, 0, 0, .3);
    font-family: "微软雅黑";
    font-weight: 400;
    font-style: normal;
}
.list-container .list-item{
    display: flex;
    font-size: 14px;
    overflow: hidden;
}
.list-container .list-item p{
    flex: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.list-container .list-item span{
    width: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: right;
}
    
    